
.shop-band {
  margin-top: 46px;
  padding: 0 100px;
}
.shop-heading {
  padding: 15px;
  font-size: 20px;
}
.goods {
  margin-top: 10px;
  display: flex;
  /* float: left; */
  flex-wrap: wrap;
  
}
.good{
  margin: auto;
    
}
.good > img {
  margin-left: 35px;
  max-width: 300px;

}

.good > img:hover{
  opacity: 0.6;
}

.info-good > h3 {
  padding-top: 12px;
  font-size: 18px;
  font-weight: bold;
}
.info-good {
  border-radius: 15px ;
  text-align: center;
  background-color: rgb(219, 213, 213);
}

.price-new {
  padding-left: 10px;
  color: rgb(199, 71, 71);
  font-weight: bold;
  font-size: 15px;
}

.price-old {
  text-decoration: line-through;
  font-size: 15px;
}
.btn-good {
  margin: 20px;
  padding: 10px;
  background-color: rgb(199, 71, 71);
  border-radius: 50px;
}


.Youtube,.logofooter{
  margin-top: -121px;
}

.footer{
  padding: 68px 0px;
  margin-top: 15px;
}